CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y

# AWS Iot Shadow
CONFIG_AWS_IOT_SHADOW_SUPPORT_DELTA=y
CONFIG_AWS_IOT_SHADOW_SUPPORT_DELETE=y

# Disable insecure TLS
CONFIG_MBEDTLS_SSL_PROTO_TLS1=n
CONFIG_MBEDTLS_SSL_PROTO_TLS1_1=n

# Increase MQTT buffer
CONFIG_MQTT_USE_CUSTOM_CONFIG=y
CONFIG_MQTT_BUFFER_SIZE=2048
